[class*="col-"] {
    flex: 0 0 auto;
    background-color:#006CFA;
    color: white;
    padding:10px;
    min-height: 40px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green {
    background-color: #01E165;
    height: 100%;
    margin: 1px;
    padding: 2px;
  
.green p {
    font-size: 12px;
}

.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

h2 {
    margin: 8px 0px;
}